<!DOCTYPE html>
<head>
        <title>Weather App</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <header>404:Page not found.</header>
        </div>
</body>
</html>
